<header><h3>Add to</h3>

	<a class="close-reveal-modal"><span class="fa fa-times"></span></a>



<div data-alert id="collection_success" class="alert-box success ">

</div>

<div data-alert id="collection_error" class="alert-box errir error ">
</div>

<h4>Existing Collection:</h4>
	</header>
	
	<form class="add-to-collection-form">

	<select id="add-to-collection-select" class="add-to-collection-select">
	{% if collections.all.count %}
		
			{% for collection in collections.all %}
			<option data-collection-id="{{collection.id}}">{{ collection.name }}</option>
			
			{% endfor %}	
			
			
			{% else %}
			<option data-collection-id="null">No collections.</option>
	
			{% endif %}
			</select>
	
	
	</form>
	
		<a href="#" class="add-to-collection-btn">Add</a>
	
	
	<header>
	<h4>New Collection:</h4>
		</header>
		
	<div class="add-new-collection-form" action="#">
		<input type="text" name="collection-name" class="collection-name" placeholder="New Collection Name"><input type="submit" class="submit" value="Create">
	</div>
	
