{% extends "frontend/uimaster.html" %}

{% block default_stylesheet %}
 <link rel="stylesheet" href="{{ STATIC_URL }}assets/stylesheets/app.css">

{% endblock %}

{% block banner %}

<header class="header header-ocve">
	    <h1>OCVE</h1>
	    <h2>Online Chopin Variorum Edition</h2>
</header>

{% if request.user.is_authenticated %}
<div class="user-box">
	<ul>
		<li><a href="/accounts/profile">{% if request.user.first_name %}{{request.user.first_name}}{% else %}{{request.user}}{%endif%}</a> (<a href="/accounts/logout">Logout</a>)</li>

		{% if request.user.is_staff %}
			<li><a href="/admin">Admin</a></li>
		{% endif %}
	</ul>
	</div>
{% endif %}

<nav class="top-bar" data-topbar="">

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left header-menu header-menu-ocve">
           	<li class=""><a href="/">Home</a></li>
            <li class=""><a href="/">About</a></li>
            <li><a href="/">Historical background</a></li>
            <li><a href="/ocve/ui">Browse</a></li>

            {% if request.user.is_authenticated %}
            <li><a href="#" class="open-collections-inline">{% if request.user.first_name %}{{request.user.first_name}}{% else %}{{request.user}}{%endif%}'s Collections</a></li>
            {% else %}
            <li><a href="/accounts/login">Login</a></li>
            {% endif %}

        </ul>


    </section>
</nav>
  
{% endblock %}





{% block footer %}

	<footer class="footer footer-ocve">
		<div class="footer-logos">
		<a  class="logo"  href="http://cam.ac.uk"><img alt="University of Cambridge" src="{{STATIC_URL}}assets/images/logos/cambridge-logo.png"></a>
		<a class="logo"  href="http://kcl.ac.uk"><img alt="King's College London" src="{{STATIC_URL}}assets/images/logos/kcl-logo.png"></a>
		</div>

		<div class="footer-menus">

		<ul class="footer-menu">
			<li><a href="#">Chopin Online</a></li>
			<li><a href="/ocve/ui" class="ocve-link">OCVE</a></li>
			<li><a href="/cfeo/ui" class="cfeo-link">CFEO</a></li>
			<li><a href="#" class="annot-link">Annotated Catalogue</a></li>

		</ul>
		<ul class="footer-menu">
			<li><a href="#">About OCVE</a></li>
			<li><a href="#">About Chopin Online</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Privacy</a></li>

		</ul>


		</div>


	</footer>
	

{% endblock %}

{% block collections %}
<div class="collections-inline">
	<a href="#" class="close-collections-inline"><span class="fa fa-angle-double-down"></span></a>
	<div class="inner"></div>
</div>
{% endblock %}
