<div class="user-box right">
    <a href="#" class="tiny button radius" data-dropdown="login-drop" data-options="align:left" aria-controls="login-drop" aria-expanded="false"><i class="fa fa-user"></i> Login</a>
    <div id="login-drop" class="f-dropdown content medium" data-dropdown-content aria-hidden="true" tabindex="-1">
        <form action="{% url "auth_login" %}" method="post" id="login-form">
            {% csrf_token %}
            <input id="id_username" name="username" type="text" placeholder="Username">
            <input id="id_password" name="password" type="password" placeholder="Password">
            <button type="submit" class="tiny button radius expand">Log in</button>
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </form>
        <p><em><a href="/ocve/accounts/password/reset">Forgot your password?</a></em></p>

        <hr>

        <a href="/ocve/accounts/register" class="tiny button radius secondary expand">Create an account</a>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('id_username').focus();
</script>