{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="main content-section">
    <div class="row">
        <div class="large-12 columns">
        	<header><h1>Login</h1></header>
        	<p>Logging in allows you to create collections in OCVE.</p>
        </div>
	</div>

	<div class="row">
     	<div class="large-6 columns">
			<form action="." method="post" id="login-form">
				{% csrf_token %}
				{{ form.as_p }}
				<div class="submit-row">
					<input type="submit" value="Login" class="small button radius" />
				</div>
			</form>
			<p><em><a href="/ocve/accounts/password/reset">Forgot your password?</a></em></p>

			<h4>New here?</h4>
			<a href="/ocve/accounts/register" class="small button radius secondary">Create an account</a>

			<script type="text/javascript">
			document.getElementById('id_username').focus()
			</script>
		</div>
	</div>
</section>
{% endblock %}