{% extends "registration/base.html" %}

{% load i18n %}
{% load i18n %}

{% block title %}Change Your Password{% endblock %}

{% block content %}

<div class="row">
  <div class="large-12 columns">


   <header><h1>Change Your Password</h1></header>

   <p>To change your password, please use the form below.</p>

   </div>
 </div>


 <div class="row">
   <div class="large-6 columns">
    <form method="post" action=".">
      {% csrf_token %}
      {{ form.as_p }}

      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
  </div>
</div>
{% endblock %}
