{% extends "base.html" %}

{% block title %}Register an Account{% endblock %}



{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<section class="main content-section">
       <div class="row">
         <div class="large-12 columns">


          <header><h1>Register an Account</h1></header>

          <p>Please enter the following details to register an account. By creating an account you agree to our <a href="#">Privacy Policy</a>..</p>

          <p>Please ensure you enter a valid email address - we will send you a validation email which you will need to check before you will be able to login.</p>
          </div>
	   </div>


     <div class="row">
       <div class="large-6 columns">

				<form method="post" action=".">
				  {% csrf_token %}
				  {{ form.as_p }}

				  <input type="submit" value="Submit" />
				</form>
			</div>
</div>
</section>
{% endblock %}
