Django>=3.0.14
-r ddhldap/requirements.txt
django-compressor
django-grappelli
django-haystack==3.2.1
django-libsass
django-modelcluster
django-model-utils
django-taggit
elasticsearch==7.10.1
html5lib
lxml
-r ocve/requirements.txt
parsley
# --allow-unverified git+ssh://git@github.com/euske/pdfminer.git
pdfminer.six
pyparsing
psycopg2==2.9.1
wagtail>=2.9,<3 # https://github.com/wagtail/wagtail
celery<4
django-environ==0.4.5