{% extends "base.html" %}
{% load i18n %}
{% block meta_title %}Log in{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
<section class="main content-section">
    <div class="row">
        <div class="small-12 large-6 large-offset-3 columns">
        {% block title %}<h1>Log in</h1><hr>{% endblock %}
        {% if form.username %}
        <h4>Login failed.  <em><a href="/ocve/accounts/password/reset">Forgot your password?</a></em></h4>
        {% endif %}
            <form action="{% url "auth_login" %}" method="post" id="login-form">
            {% csrf_token %}
            <input id="id_username" name="username" type="text" placeholder="Username">
            <input id="id_password" name="password" type="password" placeholder="Password">
            <button type="submit" class="button radius expand">Log in</button>
            <input type="hidden" name="next" value="/ocve/accounts/profile/">
        </form>


        <hr>

        <a href="/ocve/accounts/register" class="button radius secondary expand">Create an account</a>
        </div>
    </div>
</section>

<script type="text/javascript">
    document.getElementById('id_username');
</script>
{% endblock %}
