{% extends "base.html" %}

{% load i18n %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<section class="main content-section">
       <div class="row">
         <div class="large-12 columns">


          <header><h1>Reset Your Password</h1></header>

          <p>Please enter the email address you used to register. We will send a link that you can use to reset your password.</p>

          </div>
        </div>


        <div class="row">
          <div class="large-6 columns">

            {{ form }}

            <input type="submit" value="{% trans 'Submit' %}" />

          </div>
        </div>
{% endblock %}
