{% extends "registration/base.html" %}

{% load i18n %}
{% load i18n %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<section class="main content-section">
       <div class="row">
         <div class="large-12 columns">


          <header><h1>Reset Your Password</h1></header>

            {% if validlink %}
            Please enter your new password: {{ form }}
            {% else %}
            The password reset link was invalid
            {% endif %}

          </div>
        </div>
      </section>
