{% extends "registration/base.html" %}

{% load i18n %}
{% load i18n %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<section class="main content-section">
       <div class="row">
         <div class="large-12 columns">


          <header><h1>Reset Your Password</h1></header>

          <p>Thank you for your request to reset your password. We have an email with a link to reset your password to the email address supplied.</p>

        </div>
      </div>

    </section>
