{% extends "base.html" %}
{% load i18n %}
{% block title %}Registration{% endblock %}

{% block content %}
    <section class="main content-section">
		<div class="row">
			<div class="large-12 columns">
				<header><h1>Registration Complete</h1></header>
				<p>{% trans "Thank you, you are now registered. We have sent an email to the address you supplied. Please check this email for a link which you will need to click to activate your account.." %}</p>
			</div>
		</div>
	</section>
{% endblock %}
