{% load bartooltags %}
{% if request.user.is_authenticated %}

<div class="row">
    <div class="large-3 columns">
        <header>
            <h4>Collections <a href='#' class='collection-control add-collection-inline'><i class='fa fa-plus-circle'></i></a></h4>
        </header>

        <div class="collection-delete-alert">
            <p>Are you sure you want to delete <span class="delete-collection-name"></span>?</p>
            <a href="#" class="confirm">Delete</a> <a href="#" class="cancel">Cancel</a>
        </div>

        <select class="collection-inline-switcher">
            {% if collections.all.count %}
            {% for collection in collections.all %}
            <option data-collection-id="{{collection.id}}" value="{{collection.id}}">{{ collection.name }}</option>
            {% endfor %}
            {% else %}
            <option data-collection-id="null">No collections.</option>
            {% endif %}
        </select>
        <hr>
        <div class="collection-meta">
            <a href="#" class="collection-control edit"><i class="fa fa-edit"></i> Edit collection name</a>
            <a href="#" class="collection-control delete"><i class="fa fa-times-circle"></i> Delete collection</a>
        </div>
    </div>

    <div class="large-9 columns">
        {% for collection in collections.all %}
        <div class="collection-viewer" data-collection-id="{{collection.id}}">
            <header>
                <h4><span class="title">{{collection.name}}</span> <a href='#'><i class='fa fa-arrow-right'></i></a></h4>
            </header>

            <ul class="collection-thumbs">
                {% for region in collection.regions.all %}
                <li class="thumb" data-region-id="{{ region.id }}">
                    {% with thumbs|lookup:region.id as thumbnail %}
                    <div class="removeFromCollection">
                        <a href="#"  data-region-id="{{ region.id }}" data-collection-id="{{collection.id}}">
                            <span class="fa fa-times-circle"></span>
                        </a>
                    </div>

                    <span class="thumb-title">{{ thumbnail.getSource.label }}</span>

                    <div class="thumb-options">
                        <a href="/ocve/barview?workid={{region.pageimage.page.sourcecomponent.source.getWork.id}}&barid={{region.bar.all.0.id}}">
                            <span class="fa fa-th"></span>
                        </a>
                        <a href="/ocve/browse/pageview/{{thumbnail.pi.id}}/{{region.id}}/">
                            <span class="fa fa-file-text"></span>
                        </a>
                        {% for fif in thumbnail.getLargeURL %}
                        <a href="{{ IIP_URL }}?FIF={{ fif }}" title="Download image">
                            <span class="fa fa-download"></span>
                        </a>
                        {% endfor %}
                    </div>
                    {% for fif in thumbnail.getLargeURL %}
                    <img class="region" src="{{ IIP_URL }}?FIF={{ fif }}">
                    {% endfor %}
                    {% endwith %}
                </li>
                {% empty %}
                <p>There are no images in this collection (yet).</p>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
Error: This function is only available whilst logged in.
{% endif %}
