$primary-color: #2a86ad;

/** CFEO Compare */
.add-to-compare-bar {
    display: none;
    padding: 20px 0;
}

.add-to-compare-bar a {
    display: block;
    background-color: rgb(232, 232, 232);
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.add-to-compare-bar a:hover {
    background-color: rgb(212, 212, 212);
}

.add-to-compare-notification {
    display: none;
    padding: 20px 0 0 0;
}