/* Expandable list */
$border-color: #e8e8e8;
$section-padding: 10px;
$list-content-spacing: 24px;

section.expandable-list {
	border: 1px solid $border-color;
	a {
		display: block;
	}
	a:hover {
		background: #e8e8e8;
	}
	/* .list-item {
		border-bottom: 1px solid $border-color;
	} */
	.list-item li:last-child {
		border-bottom: 0 !important;
	}
	.list-content {
		display: none;
  		clear: both;
  		max-height: 400px;
  		overflow: auto;
  		border-top: 1px solid $border-color;

  		li {
  			font-size: .875rem;
			border-bottom: 1px solid #d8d8d8;
  		}

  		li:first-child a {
  			padding-top: 1em;
  		}

  		a {
			padding: 1em $list-content-spacing;
			line-height: 1.5;
  		}
	}
	.list-header {
		clear: both;
		overflow: auto;
  		background-color: #f8f8f8;
		h4 {
  			font-size: 1rem;
			position: relative;
			margin: 0;
		}
		h5 {
  			position: relative;
		}
		a {
  			padding: .9375rem;
		}
	}

	.no-link h4 {
		padding: .9375rem 1.5rem;
	}
}

.expandable-list.fixed-open {
    margin-top:rem-calc(60px);
    .list-content {
        display: block;
    }
    li {
        @include grid-row();
    }
    .input-box {
        @include grid-column(1);
        padding-left: 0;
        input {
            margin-bottom: 0;
            padding-left: 0;
        }
    }
    .input-label {
        @include grid-column(10);
    }

    li.separator {
        border-top: 1px solid $borderColor;
    }      
}