$primary-color: #7d0000;

.header h1 {
	display: inline-block;
	font-family: "Hero", sans-serif;
	font-size: 3.2em;
	margin: 0;
	padding: 30px 20px 25px 0;
}

.header h2 {
	color: #404041;
	display: inline-block;
	font-family: "museo-sans", sans-serif;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}