{% extends "base.html" %}

{% block header_scripts %}
    <!--PourOver from http://nytimes.github.io/pourover/ -->

    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/pourover.js"></script>
    {% if mode == "OCVE" %}
        <script type="text/javascript" src="{{ STATIC_URL }}javascripts/OCVEsourceJSON.js"></script>
    {% else %}
        <script type="text/javascript" src="{{ STATIC_URL }}javascripts/CFEOsourceJSON.js"></script>
    {% endif %}
    <script type="text/javascript">
    //Variables for switching between OCVE/CFEO mode
    {% if mode == "OCVE" %}
        pageviewURL = "/ocve/browse/pageview";
    {% else %}
        pageviewURL = "/cfeo/browse/pageview";
    {% endif %}

    var selectedFilterSelector = 'dl.selected-filter';
    var noFiltersSelector = '#no-filters';
    var clearFiltersSelector = "#filters-refresh"

    pageByID = {};
    sourceByID = {};
    sourcecomponentsById = {};
    sourceFilterIDs = [];
    //Number of page images to show in initial display
    numPagesDisplay = 4;
    //Displaying OCVE or CFEO?
    mode = '{{ mode }}';

    for (var i = 0, len = sources.length; i < len; i++) {
        sourceByID[sources[i].id] = sources[i];
        sourceFilterIDs.push(sources[i].id);
        for (var p in sources[i].Pages) {
            pageByID[sources[i].Pages[p].id] = sources[i].Pages[p];
        }
    }
    for (i = 0, len = sourcecomponents.length; i < len; i++) {
        sourcecomponentsById[sourcecomponents[i].id] = sourcecomponents[i];
    }

    //Display work information / source information
    addOverview = function (url, selector) {
        $.get(url, function (data) {
            $(selector).html(data);
            $(selector).foundation('reveal', 'open')
        });
        //Stop jumping when modal clicked on
        return false;
    }

    removeSelectedFilter = function (type) {
        sourceCollection.filters[type].clearQuery();
        $('dl.selected-filter.' + type).remove();
        filterFacets(sourceview.getCurrentItems(), type);
        removeFromFilterArray(type)
    }

    removeFromFilterArray = function (type) {
        for (var f in filters) {
            if (filters[f].type == type) {
                //filters.pop(filters[f]);
                filters.splice(f, 1);
            }
        }
    }
    serializeFilters = function () {
        $.post("/ocve/browse/serializeFilter/", { {{ mode  }}_current_filters: JSON.stringify(filters)});
        //localStorage.setItem("current_filters", filters);
    }

    addSelectedFilter = function (type, selection) {
        var filterHTML = "<dl class=\"selected-filter " + type + "\">"
                + "<dt class=\"filter\">" + type + ":</dt>" +
                "<dd><span>" + selection + "</span><a class=\"ctrl remove\" data-criteria=\"" + type + "\"><i class=\"fa fa-times-circle-o\"></i></a></dd></dl>"
        //Type is currently exclusive, may change
        if ($(selectedFilterSelector + '.' + type).size() > 0) {
            $(selectedFilterSelector + '.' + type + ' dd span').html(selection);
        } else {
            $('#selectedFilters').append(filterHTML);
        }
        $(noFiltersSelector).hide();
        $('a.ctrl.remove[data-criteria=\"' + type + '\"]').click(function (e) {
            var type = $(this).data('criteria');
            removeSelectedFilter(type);
        });
    }

    //Apply a pouroverfilter and update the selectedfilters display
    // type: filter type
    //Id: the numeric id in db
    //selection: text label
    applyFilter = function (type, id, selection) {
        if (type != 'KeyPitch') {
            sourceCollection.filters[type].query(id);
        }
        addSelectedFilter(type, selection);
        //Remove existing filter type
        removeFromFilterArray(type);
        filters.push({"type": type, "id": id, "selection": selection})
        //Push to session
        serializeFilters();
    }

    filterFacets = function (filteredPages, exclude) {
        var filteredWorks = {};
        var filteredGenres = {};
        var filteredPublishers = {};
        var filteredDedicatees = {};
        var filteredYears = {};
        for (var x = 0; x < filteredPages.length; x++) {
            try {
                if (!filteredWorks.hasOwnProperty(filteredPages[x].Work)) {
                    filteredWorks[filteredPages[x].Work] = 1;
                }
                if (!filteredPublishers.hasOwnProperty(filteredPages[x].Publisher)) {
                    filteredPublishers[filteredPages[x].Publisher] = 1;
                }
                if (!filteredDedicatees.hasOwnProperty(filteredPages[x].Dedicatee)) {
                    filteredDedicatees[filteredPages[x].Dedicatee] = 1;
                }
                if (filteredPages[x] && filteredPages[x].Year) {
                    for (var i = 0; i < filteredPages[x].Year.length; i++) {
                        if (!filteredYears.hasOwnProperty(filteredPages[x].Year[i])) {
                            filteredYears[filteredPages[x].Year[i]] = 1;
                        }
                    }
                }

                if (filteredPages[x] && filteredPages[x].Genre) {
                    for (var i = 0; i < filteredPages[x].Genre.length; i++) {
                        if (!filteredGenres.hasOwnProperty(filteredPages[x].Genre[i])) {
                            filteredGenres[filteredPages[x].Genre[i]] = 1;
                        }
                    }
                }

            } catch (TypeError) {
                console.log(TypeError);
                console.log(x);
            }

        }
        if (exclude != 'Work') {
            filterSelections(works, filteredWorks, 'a.filterCtrl[data-criteria=\"Work\"]');
        }
        if (exclude != 'Dedicatee') {
            filterSelections(dedicatees, filteredDedicatees, 'a.filterCtrl[data-criteria=\"Dedicatee\"]');
        }
        if (exclude != 'Genre') {
            filterSelections(genres, filteredGenres, 'a.filterCtrl[data-criteria=\"Genre\"]');
        }
        if (exclude != 'Year') {
            filterSelections(years, filteredYears, 'a.filterCtrl[data-criteria=\"Year\"]');
        }
        if (exclude != 'Publisher') {
            filterSelections(publishers, filteredPublishers, 'a.filterCtrl[data-criteria=\"Publisher\"]');
        }
    }

    filterSelections = function (selections, validSelections, selectionSelector) {
        for (var i in selections) {
            if (!validSelections.hasOwnProperty(selections[i])) {
                $(selectionSelector + '[data-key=' + selections[i] + ']').parent('li').hide();
            } else {
                $(selectionSelector + '[data-key=' + selections[i] + ']').parent('li').show();
            }
        }
    }

    outputWorkGroup = function (sourceList, opusOutput, opusid) {
        var output = "<div id=\"opus" + opusid + "\" class=\"opus\">";
        output += "<h2> " + workLabels[opusid] +
                " <span class=\"contextual-info\">" +
                "<a href=\"#\" class=\"ctrl more\" data-tooltip=\"\" data-reveal-ajax=\"/{{ mode|lower }}/browse/workinformation/" + opusid + "/\" title=\"Work overview\" data-reveal-id=\"opus-info\">" +
                "<span class=\"fa fa-book\"></span></a></span></h2>";
        output += opusOutput;
        return output;
    }

    outputSources = function (sources) {
        var output = "";
        var opusOutput = "";
        var sourceList = "";
        var opusid = 0;
        availInstruments = {"0": 1};
        //Filter matching opus quickjump
        for (var x = 0; x < sources.length; x++) {
            if (opusid == 0) {
                opusid = sources[x].Work;
            }
            if (sources[x].Work != opusid) {
                if (opusid != 0) {
                    output += "</div>";
                }
                output += outputWorkGroup(sourceList, opusOutput, opusid)
                opusid = sources[x].Work;
                opusOutput = "";
                sourceList = "";
            }
            //Write source in quick list for opus
            sourceList += "<li><a href=\"#source" + sources[x].id + "\" class=\"sourceLink\" data-sourcekey=\"" + sources[x].id + "\">" + sources[x].label + "</a>";
            //Collect all the sources in the opus
            opusOutput += "<div id=\"source" + sources[x].id + "\" class=\"source\">";
            //Edit link to source editor, for stage only.
            opusOutput += "<span class=\"contextual-info right\">"
                    if (sources[x].achash.length > 0){
                        opusOutput +="<a class=\"ctrl more\" data-tooltip=\"\"  title=\"View in annotated catalogue\" href=\"/aco/catalogue/impression/"+sources[x].achash+"/\"><i class=\"fa fa-link\"></i></a>&nbsp;";
                    }
            opusOutput += "<a href=\"#\" class=\"ctrl more\" data-tooltip=\"\" data-reveal-ajax=\"/{{ mode|lower }}/browse/sourceinformation/" + sources[x].id + "/\"  title=\"Witness overview\" data-reveal-id=\"witness-info\"><i class=\"fa fa-info-circle fa-lg\"></i></a></span>";
            opusOutput +="<h5><a href=\"#\" class=\"expandme\"><i class=\"expandd fa fa-caret-right\"></i> " + sources[x].label + "</a></h5>";
            opusOutput +="<ul id=\"sourcePages" + sources[x].id + "\" class=\"pageList movement\">";
            //Output pages
            opusOutput += outputPages(sources[x]);
            opusOutput += "</ul>";
            opusOutput += "</div>";
        }
        //Output last group
        output += outputWorkGroup(sourceList, opusOutput, opusid)
        //Show available instruments
        var avail = 0;
        //Show Instrument filters
        $('li.instrumentFilter').each(function (index) {
            if (availInstruments['' + $(this).data('instrument_id') + ''] == 1) {
                avail += 1;
                $(this).show();
            } else if ($(this).data('instrument_id') != '0') {
                $(this).hide();
            }
        });
        if (avail > 2) {
            $('#instrumentFilterControl').show();
        } else {
            $('#instrumentFilterControl').hide();
            $('#instrumentToggle').html('Filter by instrument');
        }

        return output;
    }

    //Output the determined number of preview pages for each source with further links
    outputPages = function (source) {
        var output = "";
        var sourcePages = source.Pages;
        var scid = 0;
        var workid=0;
        for (var i = 0; i < filters.length; i++) {
            if (filters[i].type == 'Work'){
                workid=filters[i].id
            }
        }
        console.log("source:"+source.Work);
        console.log("filter:"+workid);
        scid=0;
        for (var x = 0; x < sourcePages.length; x++) {
            //if (workid ==0 || (workid > 0 && sourcePages[x].Work == workid)) {
                //sourcePages[x].sourcecomponent_id);
                if (sourcePages[x].sourcecomponent_id != scid) {
                    var scInstruments = sourcecomponentsById[sourcePages[x].sourcecomponent_id].instruments;
                    if (scInstruments) {
                        for (var i = 0; i < scInstruments.length; i++) {
                            availInstruments['' + scInstruments] = 1;
                        }
                    } else {
                        scInstruments = [];
                    }
                    //console.log(sourcecomponentsById[sourcePages[x].sourcecomponent_id].label);
                    output += " <li data-instruments=\"" + scInstruments.toString() + "\" id=\"page" + sourcePages[x].id + "\" class=\"page flag\"><p>" + sourcecomponentsById[sourcePages[x].sourcecomponent_id].label + "</p>";
                    scid = sourcePages[x].sourcecomponent_id;
                } else {
                    output += " <li data-instruments=\"" + scInstruments.toString() + "\" id=\"page" + sourcePages[x].id + "\" class=\"page\">";
                }
                output += "<a class=\"pageView th\" data-sourcekey=\"" + sourcePages[x].id + "\" href=\"" + pageviewURL + "/" + sourcePages[x].id + "/\"> <img"
                        + " class=\"lazy\" data-original=\"{{ IIP_URL }}?DeepZoom=" + sourcePages[x].thumbnail_url + "_files/0/0_0.jpg\" /></a>";
                output += "<span class=\"page-label\" title=\"" + sourcePages[x].label + "\">" + (sourcePages[x].label.length > 30 ? sourcePages[x].label.substring(0, 27) + "..." : sourcePages[x].label) + "</span>";
                output += "</li>"
            //}
        }
        return output;
    }


    var sourceSort = PourOver.Sort.extend({
        attr: "orderno",
        fn: function (a, b) {
            if (b < a) {
                return -1;
            } else if (b > a) {
                return 1;
            } else {
                return 0;
            }
        }
    });

    SourceView = PourOver.View.extend({ render: function () {
        var filtered = false;
        for (var i in sourceCollection.filters) {
            if (sourceCollection.filters[i].current_query) {
                filtered = true;
                break;
            }

        }
        if (filtered) {
            var items = this.getCurrentItems();
            var output = outputSources(items);
            $("#results").html(output);
            //Instantiate events for generated content
            $('h5').bind("click", function () {
                //Load images now that tab is being opened
                $(this).next('ul.pageList').find('img.lazy').each(function (index) {
                    $(this).attr('src', $(this).attr('data-original'))
                });
                $(this).next('ul.pageList').slideToggle(400);
                $("i.expandd", this).toggleClass("fa-caret-right fa-caret-down");
                return false;
            });


            $('.opusexpand').click(function () {
                var opuskey = $(this).data('opuskey');
                op = opuskey;
                $('#opusSummary' + opuskey).slideToggle();
            });
        } else {
            //Clear old filter
            $("#results").html('');
        }
    }
    });

    /*
     Authority List arrays for filters
     */
    works = [0, {% for w in works %}{{ w.id }}{% if forloop.last != True %}, {% endif %}{% endfor %}];
    workLabels = [];
    {% for w in works %}
        workLabels['{{ w.id }}'] = '{{ w }}';
    {% endfor %}
    genres = [{% for g in genres %}{{ g.id }} {% if forloop.last != True %}, {% endif %}{% endfor %} ];
    publishers = [{% for p in publishers %}{{ p.id }}{% if forloop.last != True %}, {% endif %}{% endfor %} ];
    dedicatees = [{% for d in dedicatees %}{{ d.id }}{% if forloop.last != True %}, {% endif %}{% endfor %} ];
    years = [{% for y in years %}{{ y }}{% if forloop.last != True %}, {% endif %}{% endfor %} ];
    sourceType = [{% for st in sourceTypes %}{{ st.id }}{% if forloop.last != True %}, {% endif %}{% endfor %}];
    keyPitches = [{% for kp in keypitches %}{{ kp.id }}{% if forloop.last != True %}, {% endif %}{% endfor %}];


    keyModes = [1, 3];

    filters = []
    //var opusources = [{'id': 18572,

    $(document).ready(function () {
        //Instrument Controls

        // No need for this, I'm using Foundation default - GF
        // $('#instrumentToggle').click(function () {
        //    $('#instrumentFilters').slideToggle();
        //    return false;
        // });
        $("body").on("click", ".instrumentFilter", function (event) {
            var iid = $(this).data("instrument_id");
            $('#instrumentToggle').html($(this).children('a').html());
            if (iid != 0) {
                $("li.page[data-instruments*='" + iid + "']:hidden").fadeIn();
                $("li.page").not("[data-instruments*='" + iid + "']").fadeOut();
            } else {
                $("li.page").fadeIn();
                $('#instrumentToggle').html('Filter by instrument');
            }
            return false;
        });
        //Instantiate PourOver filters
        var work_filter = PourOver.makeExactFilter("Work", works);
        var genre_filter = PourOver.makeInclusionFilter("Genre", genres);
        var year_filter = PourOver.makeInclusionFilter("Year", years);
        var publisher_filter = PourOver.makeExactFilter("Publisher", publishers);
        var dedicatee_filter = PourOver.makeExactFilter("Dedicatee", dedicatees);
        var sourcetype_filter = PourOver.makeExactFilter("Type", sourceType);
        var KeyPitch_filter = PourOver.makeExactFilter("KeyPitch", keyPitches);
        var KeyMode_filter = PourOver.makeExactFilter("KeyMode", keyModes);

        //Create collections based on pre-exported JSON
        sourceCollection = new PourOver.Collection(sources);
        sourceCollection.addFilters([work_filter, genre_filter, publisher_filter, dedicatee_filter, year_filter, sourcetype_filter, KeyPitch_filter, KeyMode_filter]);
        var order_sort = new sourceSort("orderno");
        sourceCollection.addSorts([order_sort]);

        //views for sidebar and main
        sourceview = new SourceView("main_collection", sourceCollection);
        sourceview.on("update", function () {
            sourceview.render();
        });

        //Generic filter control for the sidebar
        $('.filterCtrl').click(function (e) {
            var type = $(this).data('criteria');
            var id = $(this).data('key');
            var selection = $(this).attr('title');
            applyFilter(type, id, selection);
            filterFacets(sourceview.getCurrentItems(), type);
            return false;
        });

        $(clearFiltersSelector).click(function () {
            //Clear Queries
            for (var i in sourceCollection.filters) {
                sourceCollection.filters[i].clearQuery();
            }
            //Remove filters from session
            $.ajax('/ocve/browse/resetFilter/');
            filters = [];
            //Restore all filter choices
            $('a.ctrl:hidden').parent('li').show();

        });

        {% if defaultFilters != None %}
            {%  for f in defaultFilters%}
                {% if f.type == "Source" %}
                    $('#source{{ f.id }} h5').click();
                    $('#source{{ f.id }} h5 a').focus();
                {% elif f.type == "Work" %}
                    filters.push({"type": '{{ f.type }}', "id":{{ f.id }}, "selection": '{{ f.selection }}'})
                    applyFilter('{{ f.type }}', {{ f.id }}, '{{ f.selection }}');
                    filterFacets(sourceview.getCurrentItems(), '{{ f.type }}');
                {% endif %}

            {% endfor %}
        {% endif %}
        //Off for debugging
        //view.render();

    });
    </script>
{% endblock header_scripts %}

{% block content %}
    <section class="main content-section">
        <div class="row">
            <div class="large-3 columns">
                <h3>Filter by</h3>
                <section data-section="expandable" data-expandable-group-member="facets" class="expandable-list">
                    <div class="list-item">
                        <div class="list-header">
                            <h4><a class="ctrl expand" href="#"><i class="fa fa-caret-right"></i> Work</a></h4>
                        </div>
                        <div class="list-content">
                            <ul>
                                <!-- TODO: Can we add an if !empty thing here? - GF -->
                                {% for w in works %}
                                    <li>
                                        <a class="ctrl filterCtrl" title="{{ w }}" data-criteria="Work"
                                           data-key="{{ w.id }}"
                                           href="#">{{ w }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="list-header">
                            <h4><a class="ctrl expand" href="#"><i class="fa fa-caret-right"></i> Genre</a></h4>
                        </div>
                        <div class="list-content">
                            <ul>
                                <!-- TODO: Can we add an if !empty thing here? - GF -->
                                {% for g in genres %}
                                    {% if g.id != 2144 and g.id != 2136 and g.genre != 'None' %}
                                        <li>
                                            <a class="ctrl filterCtrl" title="{{ g }}" data-criteria="Genre"
                                               data-key="{{ g.id }}"
                                               href="#">{{ g }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="list-header">
                            <h4><a class="ctrl expand" href="#"><i class="fa fa-caret-right"></i> Publisher</a></h4>
                        </div>
                        <div class="list-content">
                            <ul>
                                <!-- TODO: Can we add an if !empty thing here? - GF -->
                                {% for p in publishers %}
                                    <li>
                                        <a class="ctrl filterCtrl" title="{{ p }}" data-criteria="Publisher"
                                           data-key="{{ p.id }}"
                                           href="#">{% autoescape off %}{{ p }}{% endautoescape %}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if mode == "OCVE" %}
                        <div class="list-item">
                            <div class="list-header">
                                <h4><a class="ctrl expand" href="#"><i class="fa fa-caret-right"></i> Source Type</a>
                                </h4>
                            </div>
                            <div class="list-content">
                                <ul>
                                    <!-- TODO: Can we add an if !empty thing here? - GF -->
                                    {% for st in sourceTypes %}
                                        {% if st.id != 3 %}
                                            <li>
                                                <a class="ctrl filterCtrl" title="{{ st }}" data-criteria="Type"
                                                   data-key="{{ st.id }}"
                                                   href="#">{{ st }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                </section>
            </div>
            <div class="large-9 columns">
                <h1>Browse sources</h1>

                <div class="row">
                    <div class="large-9 columns">

                        <dl class="show-filters">
                            <dt class="filters-header">Selected filters
                                <a class="ctrl refresh" href="#" id="filters-refresh"><i class="fa fa-refresh" data-tooltip="" title="Clear all filters"></i>
                                </a>
                            </dt>
                            <dd id="no-filters" class="no-filters-message">No filters are currently selected: showing all results
                            </dd>
                        </dl>

                        <div class="clear"></div>

                        <div id="selectedFilters"></div>
                    </div>

                    <div class="large-3 columns">
                        <div id="instrumentFilterControl">
                            {% if instruments.count > 1 %}
                                <button href="#" id="instrumentToggle" data-dropdown="instrumentFilters" aria-controls="instrumentFilters" aria-expanded="false" class="small radius button dropdown right">Filter by instrument</button>
                                <ul id="instrumentFilters" data-dropdown-content class="f-dropdown" aria-hidden="true">
                                    <li class="instrumentFilter" data-instrument_id="0">
                                        <a href="#" data-instrument_id="0">All</a>
                                    </li>
                                    {% for i in instruments %}
                                    <li class="instrumentFilter" data-instrument_id="{{ i.id }}">
                                        <a href="#" data-instrument_id="{{ i.id }}">{{ i }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="updating">
                    <img id="loading" class="spinner" src="{{ STATIC_URL }}images/spinner.svg" alt="Updating results">
                </div>

                <div class="clear"></div>

                <div id="results-section">
                    <div id="results">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div id="witness-info" class="reveal-modal xlarge contextual-modal" data-reveal>

    </div>

    <div id="opus-info" class="reveal-modal contextual-modal" data-reveal>

    </div>
{% endblock %}>>>>>>> other
