{% extends "base.html" %}
{% load catalogue_tags staticfiles %}

{% block meta_title %}{{ source.getAcCode | add_special_characters }}
    {{ pageimage.textlabel | add_special_characters }}{% endblock %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/OpenLayers/theme/default/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}custom_css/bareditor.css" type="text/css">
{% endblock custom_stylesheets %}
{% block breadcrumbs %}{% endblock %}
{% block header_scripts %}
{% endblock header_scripts %}

{% block content %}
    <section class="main content-section page-view">
        <div class="row">
            <div class="large-9 large-offset-3 columns">
                <h4>
                    <a href="#" data-reveal-ajax="/{{ mode|lower }}/browse/workinformation/{{ work.id }}/"
                       title="Work overview" data-reveal-id="opus-info">{{ work.label | add_special_characters }}</a>,
                    <a href="#" data-tooltip data-reveal-id="witness-info"
                       data-reveal-ajax="/{{ mode|lower }}/browse/sourceinformation/{{ source.id }}/"
                       title="Witness overview">{{ source.getAcCode | add_special_characters }}</a>,
                    {{ pageimage.textlabel }}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <nav class="sticky-widget pageview-sub-nav" role="navigation">
                    <ul class="side-nav">
                        <li>
                            <a href="{% url 'cfeo_browse' %}" class="small button expand"><i
                                    class="fa fa-arrow-circle-left"></i> Back to results</a>
                        </li>

                        <li>
                            <ul class="button-group even-2">
                                <li>
                                    {% if prev %}
                                        <a href="/{{ mode|lower }}/browse/pageview/{{ prev.id }}/"
                                           class="ctrl prev small button">
                                            <i class="fa fa-caret-left"></i> Prev
                                        </a>
                                    {% else %}
                                        <a class="small button disabled"></a>
                                    {% endif %}
                                </li>

                                <li>
                                    {% if next %}
                                        <a href="/{{ mode|lower }}/browse/pageview/{{ next.id }}/"
                                           class="ctrl next small button">
                                            Next <i class="fa fa-caret-right"></i>
                                        </a>
                                    {% else %}
                                        <a class="small button disabled"></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" data-dropdown="available-pages" class="small button expand">Jump to page <i
                                    class="fa fa-caret-down"></i></a>
                            <ul id="available-pages" class="f-dropdown" data-dropdown-content="">
                                {% for pi in pageimages %}
                                    <li>
                                        <a href="/{{ mode|lower }}/browse/pageview/{{ pi.id }}/">{{ pi.textlabel }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% load catalogue_tags %}
                        {% get_impression_exists achash as impression_exists %}
                        {% if  impression_exists %}
                            <li>
                                <a href="/aco/catalogue/impression/{{ achash }}/"
                                   class="small button expand">Catalogue</a>
                            </li>
                        {% endif %}

                        <li>
                            <a href="#" class="cfeo-add-to-compare small button expand">Add to Compare</a>

                            <div class="row add-to-compare-bar" data-page-id="{{ pageimage.id }}">
                                <div class="large-6 columns ">
                                    <a href="#" data-cookie="left" data-page-id="{{ pageimage.id }}">On left</a>
                                </div>
                                <div class="large-6 columns ">
                                    <a href="#" data-cookie="right" data-page-id="{{ pageimage.id }}">On right</a>
                                </div>
                            </div>

                            <div class="row add-to-compare-notification">
                                <div class="large-12 columns ">
                                    <span class="alert-box success"><i class="fa fa-check fa-lg"></i> Added to comparison.</span>
                                </div>
                            </div>
                        </li>

                        <li class="cfeo-compare">
                            <a href="/cfeo/browse/comparepageview" class="small button expand success">View compared
                                pages</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="large-9 columns">
                <div id="copyright">
                     {% if pi.copyright == False%}
                            <img src="{% static 'images/public-domain-mark.png' %}" alt="Public Domain"
                                 class="image-cc">
                            {% endif %}
                    {{ source.getSourceInformation.copyright|safe }}
                </div>
                <div id="pageimage">
                    <img src="{{ IIP_URL }}?FIF={{ pageimage.getJP2Path }}&CVT=JPG" height="800" width="600"
                         id="image_one" class="osd-iip">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div id="witness-info" class="reveal-modal" data-reveal>

    </div>

    <div id="opus-info" class="reveal-modal" data-reveal>

    </div>
{% endblock %}

{% block footer_scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}javascripts/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/pageview.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Set div width/height as proprortion of available screen
            var zoomify_width = {{pageimage.width}};
            var zoomify_height = {{pageimage.height}};
            var sf = zoomify_height / zoomify_width;
            var docWidth = parseInt($('body').width());
            var docHeight = parseInt($(window).height());
            var fullWidth = parseInt($('#pageimage').width());
            var fullHeight = fullWidth * sf;
            $("#image_one").attr('width', fullWidth).attr("height", fullHeight);


                        imgToOSD();


        });
    </script>

    <script src="{{ STATIC_URL }}vendor/openseadragon/openseadragon.js"></script>
    <script src="{{ STATIC_URL }}javascripts/osd-iip-connector.js"></script>
{% endblock %}
