{% extends "base.html" %}

{% block title %}Page Comparison{% endblock %}

{% block header_scripts %}
    <script src="{{ STATIC_URL }}javascripts/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/pageview.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            //Set div width/height as proprortion of available screen

            var docWidth = parseInt($('body').width());
            var docHeight = parseInt($(window).height());
            var fullWidth = docWidth - Math.round(docWidth * .30);
            var fullHeight = docHeight - Math.round(docHeight * .30);

            $("#image_one").css('width', fullWidth + "px").css("height", fullHeight + "px")
            $("#image_two").css('width', fullWidth + "px").css("height", fullHeight + "px")
            imgToOSD();
        });
    </script>

    <script src="{{ STATIC_URL }}vendor/openseadragon/openseadragon.js"></script>
    <script src="{{ STATIC_URL }}javascripts/osd-iip-connector.js"></script>
{% endblock header_scripts %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <header><h1>Page Comparison</h1></header>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        {% if pi_left %}
        <header><h3>{{pi_left.page.sourcecomponent.source}}, Page {{ pi_left.textlabel }}</h3></header>
        <img src="/iip/iipsrv.fcgi?FIF={{ pi_left.getJP2Path }}&CVT=JPG" height="800" width="500" id="image_one"
                                 class="osd-iip">

        <div id="copyright">{{ pi_left.page.sourcecomponent.source.getSourceInformation.copyright|safe }}</div>
        {% else %}
        <header><h3>Left Comparison</h3></header>
        <p>You haven't added a left comparison page yet.</p>
        {% endif %}
    </div>

     <div class="large-6 columns">
        {% if pi_right %}
        <header><h3>{{pi_right.page.sourcecomponent.source}}, Page {{ pi_right.textlabel }}</h3></header>
        <img src="/iip/iipsrv.fcgi?FIF={{ pi_right.getJP2Path }}&CVT=JPG" height="800" width="500" id="image_two" class="osd-iip">
        <div id="copyright">&copy; {{ pi_right.page.sourcecomponent.source.getSourceInformation.copyright }}</div>
        {% else %}
        <header><h3>Right Comparison</h3></header>
        <p>You haven't added a right comparison page yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}