<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OCVE components</title>
    <link rel="stylesheet" href="/static/prototype/stylesheets/app.css" />
    <script src="/static/prototype/bower_components/modernizr/modernizr.js"></script>
	
	
	<!-- typekit -->
	<script type="text/javascript" src="//use.typekit.net/caf1nkf.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	
	
  </head>
  
  
  <body>
    	<header class="header">
    		<nav class="top-bar">
    			<ul class="title-area">
    				<li class="name">
    					<h1><a href="#">OCVE</a></h1>
    				</li>
    				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    			</ul>
    			<section class="top-bar-section">
    			    <!-- Left Nav Section -->
    			    <ul class="right">
    			    	<li class="active"><a href="#">About</a></li>
    				  	<li class="divider"></li>
    				  	<li><a href="#">Historical background</a></li>
    					<li class="divider"></li>
    					<li><a href="bar-view.html">Variorum edition</a></li>
    				</ul>
    			</section>
    		</nav>
    	</header>
    	<section class="main content-section">
			<div class="row">
				
				<div class="large-12 columns">
					<b class="top-spacing"></b>
					<div class="workspace-nav" id="workspace-nav">
						<nav class="top-bar" data-topbar="">
							<section class="top-bar-section">
								<ul class="left">
									<li><a class="ctrl show" id="toggle-secondary-navigation"><span class="icon-reorder"></span></a></li>
									<li><span class="opus-title">Ballade Op.23, b.1</span></li>
									<li class="divider"></li>
									<li><span class="prev"><a href="#" class="ctrl prev"><span class="icon-caret-left"></span></a></span></li>
									<li class="divider"></li>
									<li><span class="next"><a href="#" class="ctrl next"><span class="icon-caret-right"></span></a></span></li>
									<li class="divider"></li>
									<li class="has-form">
										<div class="row collapse">
											<div class="large-8 small-6 columns">
												<label>Opus navigation</label>
											</div>
											<div class="large-4 small-6 columns">
												<a href="#" class="button tiny" id="toggle-opus-navigator">Off</a>
											</div>
										</div>
									</li>
									<li class="divider"></li>
									<li class="has-form">
										<div class="row collapse">
											<div class="large-4 small-6 columns">
												<label for="opus-sources">Sources</label>
											</div>
											<div class="large-8 small-6 columns">
												<select id="opus-sources">
													<option value="">-</option>
                                                    <!-- All sources for work with bars on this spine -->
													<option value="F1">Ballade Op.23: F1</option>
													<option value="F2">Ballade Op.23: F2</option>
												</select>
											</div>
										</div>
									</li>
								</ul>
							</section>
						</nav><!-- end top-bar -->
					  
					</div><!-- end columns -->
				</div><!-- end cols -->
			</div><!-- end rows -->
			
			<div class="row">
				<div class="hidden" id="secondary-nav-column">
				  	<div class="nav secondary" id="secondary-nav">
					  <div class="genre">
						  <dl class="accordion" data-accordion="">
							  	<dd>
								  	<a class="genre-type" href="#ballades">Ballades</a>
								  	<div id="ballades" class="content">
									  	<div class="nav-slider up">
										  	<a href="#" class="button tiny" data-scroll="up"><span class="icon-arrow-up"></span></a>
									  	</div>
				
									  	<div class="works" data-scrollable=''>
				
										  	<div class="work"><!-- individual work -->
											  	<p class="expandable-title"><a href="#" class="ctrl expand" data-expand=""><span class="icon-caret-right icon-expand"></span> Op. 23</a></p>
											  	<div class="expandable-details hidden">
												  	<dl class="tabs" data-tab="">
														  <dd class="active"><a href="#23-f1">F1</a></dd>
													  	<dd><a href="#23-f2">F2</a></dd>
													  	<dd><a href="#23-g1">G1</a></dd>
													  	<dd><a href="#23-g2">G2</a></dd>
												  	</dl>
												  	<div class="tabs-content">
														  <div class="content active f1" id="23-f1">
														  	<ul>
																  <li><a href="#">p. [1TP]</a> b.0-0</li>
															  	<li><a href="#">p. [i]</a> b.0-0</li>
															  	<li><a href="#">p. [2]</a> b.1-16</li>
														  	</ul>
													  	</div>
													  	<div class="content f2" id="23-f2">
															  <p>Blah some more</p>
													  	</div>
													  	<div class="content g1" id="23-g1">
															  <p>It's G1</p>
													  	</div>
													  	<div class="content g2" id="23-g2">
															  <p>Blah and even more </p>
													  	</div>
												  	</div>
											  	</div>
										  	</div><!-- end individual work -->
					
					
										  	<div class="work">
												  <p class="expandable-title"><a href="#" class="ctrl expand" data-expand=""><span class="icon-caret-right icon-expand"></span> Op. 38</a></p>
											  	<div class="expandable-details hidden">
													  <p>Some stuff</p>
											  	</div>
							
										  	</div>
					
										  	<div class="work">
												  <p class="expandable-title"><a href="#" class="ctrl expand" data-expand=""><span class="icon-caret-right icon-expand"></span> Op. 39</a></p>
											  	<div class="expandable-details hidden">
													  <p>Some stuff</p>
											  	</div>
										  	</div>
					
										  	<div class="work">
											 	 <p class="expandable-title"><a href="#" class="ctrl expand" data-expand=""><span class="icon-caret-right icon-expand"></span> Op. 40</a></p>
											  	<div class="expandable-details hidden">
													  <p>Some stuff</p>
											  	</div>
										  	</div>
									  	</div>
				
									  	<div class="nav-slider down">
			    							  <a href="#" class="button tiny" data-scroll="down"><span class="icon-arrow-down"></span></a>
									  	</div>
								  	</div>
							  	</dd><!-- end accordion section container -->
							  	<dd>
									  <a href="#fantasy" class="genre-type">Fantasy</a>
								  	<div id="fantasy" class="content">
										  <p>Fantasy stuff</p>
								  	</div>
							  	</dd>
							  	<dd>
									  <a href="#polonaise-fantasy" class="genre-type">Polonaise-Fantasy</a>
								  	<div id="polonaise-fantasy" class="content">
									 	 <p>Fantasy stuff</p>
								  	</div>
							  	</dd>
							  	<dd>
									<a href="#preludes" class="genre-type">Preludes</a>
								  	<div id="preludes" class="content">
										  <p>Preludes stuff</p>
								  	</div>
							  	</dd>
							  <dd>
								  	<a href="#scherzos" class="genre-type">Scherzos</a>
								  	<div id="scherzos" class="content">
										  <p>Scherzos stuff</p>
								  	</div>
							  	</dd>
						  	</dl>
					  	</div><!-- end genre -->
					</div>
				</div>
				
				<div class="large-12 columns" id="main-content-column">
					<b class="top-spacing"></b>
					
					<div class="opus-navigation hidden" id="opus-navigator">
						<div class="row">
							<div class="large-12 columns">
								<div id="slider" class="slider">
									<span class="slider-tail"></span>
									<a href="#" id="slider-drag"><span class="slider-control">
										<img src="/static/prototype/images/navigator-slider-bg.png">
									</span></a>
								</div>
								<div class="row witnesses">
									<div class="large-2 columns">
										<span class="header">F1 <a href="#" data-tooltip="" title="Description of witness"><span class="icon-info-sign"></span></a></span> 
									</div>
									<div class="large-10 columns">
										<div class="bars">
											<span class="musical-units"></span>
										</div>
									</div>
								</div>
								<div class="row witnesses">
									<div class="large-2 columns">
										<span class="header">G1 <a href="#" data-tooltip="" title="Description of witness"><span class="icon-info-sign"></span></a></span>
									</div>
									<div class="large-10 columns">
										<div class="bars">
											<span class="musical-units"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="bar-images">
						<ul class="images inline-list">
							<li>
								<div class="caption">A</div>
								<div class="image">
									<img src="/static/prototype/images/bar-image-1.jpg" alt="A. b.1">
									<div class="close"><a href="#" class="ctrl close"><span class="icon-remove-sign"></span></a></div>
									<div class="annotations"><a href="#" class="ctrl show-annotations" data-tooltip="" title="2 annotations">2</a></div>
								</div>
								<div class="controls">
									<ul class="inline-list">
										<li><a href="#" data-reveal-id="large-image-1" data-reveal="" class="ctrl enlarge" data-tooltip="" title="Enlarge"><span class="icon-zoom-in"></span></a></li>
										<li><a href="#" data-reveal-id="view-in-page-1" class="ctrl view-in-context" data-tooltip="" title="View in page"><span class="icon-th"></span></a></li>
										<li><a href="#" class="ctrl add" data-tooltip="" title="Add to collection"><span class="icon-plus-sign"></span></a></li>
										
									</ul>
								</div>
							</li>
							<li>
								<div class="caption">F1</div>
								<div class="image">
									<img src="/static/prototype/images/bar-image-2.jpg" alt="A. b.1">
									<div class="close"><a href="#" class="ctrl close"><span class="icon-remove-sign"></span></a></div>
									<div class="annotations"><a href="#" class="ctrl show-annotations" data-annotations="ballade-op-23">2</a></div>
								</div>
								<div class="controls">
									<ul class="inline-list">
										<li><a href="#" class="ctrl enlarge"><span class="icon-zoom-in"></span></a></li>
										<li><a href="#" class="ctrl view-in-context"><span class="icon-th"></span></a></li>
										<li><a href="#" class="ctrl add"><span class="icon-plus-sign"></span></a></li>
										
									</ul>
								</div>
							</li>
						</ul>
					</div>
					
					
					
				</div>
			</div>
			
			
							 

   				
						
		</div><!-- end columns -->
	</div><!-- end row -->
    	<!-- main navigation -->
    		
		</section>
		
		<footer class="footer-section">
			<div class="row">
				<div class="large-12 columns">
					<p>Footer</p>
				</div>
			</div>
			
		</footer>
		
		<!-- collection area -->
		<!-- feedback message -->
		<div class="feedback-message image-added">
			<div class="row">
				<div class="large-12 columns">
					<div class="feedback-success">
						<p>[Image details] added to your collection <span class="icon-ok"></span></p>
					</div>
				</div>
			</div>
		</div>
		<section class="collection-section" id="personal-collection">
			<div class="row">
				<div class="large-12 columns">
					<div class="toggle-switch">
						<a href="#" class="ctrl minimise" id="controls-minimise"><span class="icon-double-angle-down"></span></a>
					</div>
					<ul class="inline-list collection-images">
						<li>
							<h4>Collection</h4>
							<div class="actions">
								<p><a href="#" class="ctrl download"><span class="icon-download"></span> Download images</a></p>
							</div>
						</li>
						<li><a class="th radius added" href="annotate.html"><img src="/static/prototype/images/cfeo.jpg" alt="" class="thumbnail"></a></li>
						<li><a class="th radius" href="annotate.html"><img src="/static/prototype/images/cfeo.jpg" alt="" class="thumbnail"></a></li>
						<li><a class="th radius" href="annotate.html"><img src="/static/prototype/images/cfeo.jpg" alt="" class="thumbnail"></a></li>
						<li><a class="th radius" href="annotate.html"><img src="/static/prototype/images/cfeo.jpg" alt="" class="thumbnail"></a></li>
						<li><div class="actions"><p><a href="#" class="ctrl remove" id="remove-all-from-collection"><span class="icon-remove"></span> Remove all</a></p></div></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</section>

		<div id="collection-toggle">
			<div class="row">
				<div class="large-12 columns">
					<div class="toggle-switch">
						<a href="#" id="collection-toggler"><span class="icon-double-angle-up"></span></a>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- reveal modals -->
		<!-- enlarge image -->
		<div id="large-image-1" class="reveal-modal" data-reveal="">
			<img src="/static/prototype/images/bar-image-1-larger.jpg" alt="Ballade Op.23 b.1">
			<a class="close-reveal-modal"><span class="icon-remove-sign"></span></a>
		</div>
		
		<!-- view in page -->
		<div id="view-in-page-1" class="reveal-modal large-image" data-reveal="">
			<img src="/static/prototype/images/ocve-full-page.png" alt="Ballade Op.23 p.2">
			<a class="close-reveal-modal"><span class="icon-remove-sign"></span></a>
		</div>
		
		
		
		
		<!-- context panel -->
		<div id="context-panel" class="mod context-panel annotations">
			<div class="close"><a href="#" id="close-context-panel">Close <span class="icon-double-angle-right"></span></a></div>
			<div class="loading"><img src="/static/prototype/images/spinner.svg"></div>
			<div class="panel-content" id="panel-content">
				<h2>Annotations</h2>
				
			
				<div class="annotation-box" id="comment-1">
					<p class="annotation-details">Comment on Ballade Op.23, p.1, b1.</p>
					<p class="annotation-posted">By user1, 10 March 2013</p>
					<div class="annotation">
						<p>Here is an annotation.</p>
					</div>
					<div class="actions">
						<span class="reply-button">
							<a href="#" class="ctrl reply" data-reply-to="">Reply</a>
						</span>
						
					</div>
					<div class="reply-box" data-reply-area="comment-1"> 
						<span class="saving"></span>
						<p class="annotation-details">Reply to Comment on Ballade Op.23, p.1, b1</p>
						<p class="annotation-posted">By user2, 11 March 2013, 16:00</p>
						<textarea data-reply-text="comment-1"></textarea>
						<div class="states">
							<ul class="inline-list">
								<li>
									<input type="radio" name="state" value="private" checked=""> Private
								</li>
								<li>
									<input type="radio" name="state" value="public"> Public
								</li>
							</ul>
							<ul class="inline-list">
								<li><a href="#" class="button tiny ctrl save-reply" data-reply-to="comment-1">Save</a></li>
								<li><a href="#" class="ctrl trash"><span class="icon-trash"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="saved-reply" data-saved-reply="comment-1" data-reply-area="comment-1">
						<span class="saving"></span>
						
						<div class="actions">
							<ul class="inline-list">
								<li><a href="#" class="ctrl edit" data-edit="comment-1"><span class="icon-pencil"></span></a></li>
								<li><a href="#" class="ctrl trash"><span class="icon-trash"></span></a></li>
							</ul>
						</div>
						<textarea disabled="disabled" data-reply-text="comment-1" class="disabled">My saved annotation
						</textarea>
						<ul class="inline-list edit-actions">
							<li><a href="#" class="button tiny ctrl save-reply" data-reply-to="comment-1" data-reply-area="comment-1">Save</a></li>
							<li class="cancel"><a href="#" class="button tiny ctrl cancel" data-reply-to="comment-1">Cancel</a></li>
						</ul>
						
						<!-- comment -->
						<div class="panel">
							<p>Annotations should include title (optional) and user details</p>
							<p>Users should be able to switch status of annotation between public and private</p>
						</div>
				</div>


				</div>
			</div>
			
		</div>
		
		
	    <!-- jQuery -->
	  	<script src="/static/prototype/bower_components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
 	  	<script src="/static/prototype/js/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js" type="text/javascript" charset="utf-8"></script>
 
    
	    <!-- Foundation javascripts -->
		<script src="/static/prototype/bower_components/foundation/js/foundation.min.js" type="text/javascript" charset="utf-8"></script>
	    
	    
	    
		
		<script type="text/javascript" src="/static/prototype/js/app.js"></script>
  
  </body>
  
  
  
</html>
