{% extends "base.html" %}

{% block custom_stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/OpenLayers/theme/default/style.css"
type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}custom_css/bareditor.css" type="text/css">
{% endblock custom_stylesheets %}

{% block header_scripts %}
{% endblock header_scripts %}

{% block content %}
<section class="main content-section page-view">
    <div class="row">
        <div class="large-12 columns">
            <nav class="tab-bar">
                <section class=" tab-bar-section">
                    <ul class="left inline-list contextual-menu">

                        <li>
                            <div class="menu-item">
                                <a href="{% url 'ocve_browse' %}"><i class="fa fa-arrow-circle-left"></i> Back to results</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-item opus-title"><a href="#" data-reveal-ajax="/ocve/browse/workinformation/{{ work.id }}/" data-reveal-id="opus-info" title="Work overview">{{ work }}</a>, <a
                                href="#" data-reveal-id="witness-info" data-reveal-ajax="/ocve/browse/sourceinformation/{{ source.id }}/" title="Witness overview">{{ source.getAcCode }}</a>, {{ pageimage.textlabel }}
                            </div>
                        </li>

                        {% load catalogue_tags %}
                        {% get_impression_exists achash as impression_exists %}
                        {% if  impression_exists %}
                        <li>
                            <div class="menu-item">
                                <a href="/aco/catalogue/impression/{{ achash }}/">Catalogue</a>
                            </div>
                        </li>
                        {% endif %}


                        {% if prev %}
                        <li>
                            <div class="menu-item">
                                <a href="/{{ mode|lower }}/browse/pageview/{{ prev.id }}/" class="ctrl prev"><span class="fa fa-caret-left"></span></a>
                            </div>
                        </li>
                        {% endif %}
                        {% if next %}
                        <li>
                            <div class="menu-item"><a
                                href="/{{ mode|lower }}/browse/pageview/{{ next.id }}/"
                                class="ctrl next"><span class="fa fa-caret-right"></span></a>
                            </div>
                        </li>
                        {% endif %}
                        <li>
                            <div class="menu-item">
                                <a href="#" data-dropdown="available-pages">Jump to page</a>
                                <ul id="available-pages" class="f-dropdown" data-dropdown-content="">
                                    {% for pi in pageimages %}
                                    <li>
                                        <a href="/{{ mode|lower }}/browse/pageview/{{ pi.id }}/">{{ pi.textlabel }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

                        <li>
                            <div class="menu-item">
                                {% if view == 'annotations' %}
                                <a href="?view=full">Hide annotations</a>
                                {% else %}
                                <a  href="?view=annotations">Annotations</a>
                                {% endif %}
                            </div>
                        </li>

                        {% if view == 'annotations' %}
                        <li>
                            <div class="menu-item">
                                <a id="bars" href="#" onclick="toggleBarview(); return false;"><i class="fa fa-eye"></i> Bars</a>
                            </div>
                        </li>
                        {% endif %}

                        {% if mode == 'CFEO' %}
                        <li>
                            <div class="menu-item">
                                <a href="#" class="cfeo-add-to-compare">Add To Compare</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </section>
            </nav>

            {% if mode == 'CFEO' %}
            <div class="row add-to-compare-bar" data-page-id="{{ pageimages.0.id }}">
                <div class="large-6 columns ">
                    <a href="#" data-cookie="left" data-page-id="{{ pageimages.0.id }}">Compare on Left</a>
                </div>
                <div class="large-6 columns ">
                    <a href="#" data-cookie="right" data-page-id="{{ pageimages.0.id }}">Compare on Right</a>
                </div>
            </div>

            <div class="row add-to-compare-notification">
                <div class="large-12 columns ">
                    <span class="alert-box success">Added to comparison.</span>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div id="pageimage" class="large-{% if view == 'annotations' %}8{% else %}12{% endif %} columns">
                    <div id="map"></div>
                    <div id="copyright">{{ source.getSourceInformation.copyright|safe }}</div>
                </div>

                {% if view == 'annotations' %}
                <div id="annotations" class="large-4 columns">
                    {% if user.is_authenticated %}
                    <div id="annotationTools">
                        <p><strong>Annotation tools</strong></p>
                        <ul class="no-bullet">
                            <li><a id="barAttachToggle" href="#"><i class="fa fa-link"></i> Attach Bars</a></li>
                            <li><a id="newSquareNoteToggle" href="#"><i class="fa fa-pencil"></i> Create new square annotation</a></li>
                            <li><a id="newCircleNoteToggle" href="#"><i class="fa fa-pencil"></i> Create new circle annotation</a></li>
                        </ul>
                    </div>
                    {% endif %}

                    {% if comments.count > 0 %}
                    <div class="page-comments">
                        <div id="commentary">
                            <h4 class="comm">Commentary <span class="label radius secondary">{{ comments.count }}</span> <i class="fa fa-plus-circle right"></i></h4>

                            <div class="collapseme">
                                {% for c in comments %}
                                <div id="comment-{{ c.id }}" class="annotation-box">
                                    <p class="annotation-details">
                                        {% for br in c.getBarRegions %}
                                        {% for b in br.bar.all %}
                                        <span class="label radius secondary noteBarHighlight" data-barid="{{ b.barlabel }}"> Bar <strong>{{ b.barlabel }}</strong></span>
                                        {% endfor %}
                                        {% endfor %}
                                    </p>

                                    <div class="annotation"><p>{{ c.notetext }} </p></div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if notes.count > 0 %}
                        <div id="notes">
                            <h4 class="comm">Notes <span class="label radius secondary">{{ notes.count }}</span> <i class="fa fa-plus-circle right"></i></h4>

                            <div class="collapseme">
                                {% for c in notes %}
                                <div id="comment-{{ c.id }}" class="annotation-box">
                                    <p class="annotation-details">
                                        {% for br in c.getBarRegions %}
                                        {% for b in br.bar.all %}
                                        <span class="label radius secondary noteBarHighlight" data-barid="{{ b.barlabel }}">Bar <strong>{{ b.barlabel }}</strong></span>
                                        {% endfor %}
                                        {% endfor %}
                                        {% if c.noteregions|length > 0 %}
                                        <span class="noteRegionHighlight" data-noteid="{{ c.id }}">Region</span>
                                        {% endif %}
                                    </p>

                                    <p class="annotation-posted">By {{ c.user }}, {{ c.timestamp }}
                                        {% if c.user.id == request.user.id %}
                                        <a href="#" class="updateNote" data-noteid="{{ c.id }}">Update</a>
                                        <a href="#" class="deleteNote" data-noteid="{{ c.id }}">Delete</a>{% endif %}
                                    </p>

                                    <div class="annotation">
                                        <p>{{ c.notetext }} </p>
                                    </div>
                                </div>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div id="newNote">
                            <form id="newNoteForm" method="POST" action="/ocve/saveNote/">
                                <table>
                                    {{ annotationForm }}
                                    <tr>
                                        <th><label for="type_id">Visibility:</label></th>
                                        <td>
                                            <select id="type" name="type_id">
                                                <option value="3" selected="selected">Private</option>
                                                <option value="4" selected="selected">Public</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <button id="createNote" type="submit" class="tiny radius">Save</button>
                                <input type="hidden" id="annotation_id" name="annotation_id" value="0"/>
                                <input type="hidden" id="noteBars" name="noteBars" value=""/>
                                <button id="cancelNote" type="submit" class="tiny radius">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="thumbnail-carousel">
                <b class="divider"></b>
                {% for p in pageimages %}
                <div>
                    <div class="carousel-image">
                        <a class="pageView thumb" href="/{{ mode|lower }}/browse/pageview/{{ p.id }}/">
                            <img border align="0" src="{{ IIP_URL }}?DeepZoom={{ p.getJP2Path }}_files/0/0_0.jpg" class="lazy thumbnail"/></a>
                            <span class="page-label">{{ p.textlabel }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

{% block footer %}
{{ block.super }}
<div id="witness-info" class="reveal-modal" data-reveal>

</div>

<div id="opus-info" class="reveal-modal" data-reveal>

</div>
{% endblock %}

    {% block footer_scripts %}
    {{ block.super }}
<script src="{{ STATIC_URL }}javascripts/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}vendor/OpenLayers/OpenLayers.js"></script>
<script type="text/javascript">
    var map, zoomify;
    var alayer, vlayer;

    var zoomify_width = {{ pageimage.width }};
    var zoomify_height = {{ pageimage.height }};

    var pageID = {{ pageimage.id }};
    var zoomify_url = "{{ zoomifyURL }}";

    var regionURL = "{{ regionURL }}";
    var noteURL = "{{ noteURL }}";

    var workid = {{ work.id }};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/pageview.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/pageview_functions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/pageview_ol.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        {% if view == 'annotations' %}
        showAnnotationTools();
        {% else %}
        hideAnnotationTools();
        {% endif %}
    });
</script>
    {% endblock %}