{% load ocve_tags wagtailcore_tags %}

<div class="contextual">
    {% autoescape off %}
    <h1>{{ si.accode }}</h1>
    {% if mode == "OCVE" and si.title %}
    <div class="row">
        <div class="contextual-label">Title</div>
        <div class="contextual-value">{{ si.title|clean_si }}</div>
    </div>
    {% elif mode == "CFEO" and si.publicationtitle  %}
    <div class="row">
        <div class="contextual-label">Title</div>
        <div class="contextual-value">{{ si.publicationtitle|clean_si }}</div>
    </div>
    {% endif %}

    {% if si.publisher and si.publisher|lower != 'none' and si.publisher|lower != 'unspecified' %}
    <div class="row">
        <div class="contextual-label">Publisher</div>
        <div class="contextual-value">{{ si.publisher.publisher|clean_si }}</div>
    </div>
    {% endif %}

    {% if si.placepublication %}
    <div class="row">
        <div class="contextual-label">Place of publication</div>
        <div class="contextual-value">{{ si.placepublication.city|clean_si }}</div>
    </div>
    {% endif %}

    {% if si.dedicatee and si.dedicatee|lower != 'none' and si.dedicatee|lower != 'unspecified' %}
    <div class="row">
        <div class="contextual-label">Dedicatee</div>
        <div class="contextual-value">{{ si.dedicatee.dedicatee|clean_si }}</div>
    </div>
    {% endif %}

    {% if si.platenumber %}
    <div class="row">
        <div class="contextual-label">Plate number</div>
        <div class="contextual-value">{{ si.platenumber|clean_si }}</div>
    </div>
    {% endif %}

    {% if si.datepublication %}
    <div class="row">
        <div class="contextual-label">Publication date</div>
        <div class="contextual-value">{{ si.datepublication|clean_si }}</div>
    </div>
    {% endif %}

    {% has_printing_method si as printing_method %}
    {% if printing_method %}
    <div class="row">
        <div class="contextual-label">Printing method(s)</div>
        {% for pr in si.printingmethod.all %}
        <div class="contextual-value">
            {% if pr.method|lower != 'unspecified' %}
            
                {{ pr.method|clean_si }}
            
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if si.contentssummary or si.leaves %}
    <div class="row">
        <div class="contextual-label">Contents summary</div>
        <div class="contextual-value">
            {% if mode == "OCVE" %}
            {{ si.contentssummary|clean_si }}
            {% else %}
            {{ si.leaves }}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if si.copyright %}
    <div class="row">
        <div class="contextual-label">Source of images</div>
        <div class="contextual-value">{{ si.copyright|clean_si }} </div>
    </div>
    {% endif %}

    {% if  si.displayedcopy %}
    <div class="row">
        <div class="contextual-label">Displayed copy</div>
        <div class="contextual-value">{{ si.displayedcopy|clean_si }}</div>
    </div>
    {% endif %}

    {% if mode == "CFEO" %}
    {% if si.reprints %}
    <div class="row">
        <div class="contextual-label">Information on subsequent reprints</div>
        <div class="contextual-value">{{ si.reprints }}</div>
    </div>
    {% endif %}
    {% if si.locationsimilarcopies %}
    <div class="row">
        <div class="contextual-label">Location of similar copies</div>
        <div class="contextual-value">{{ si.locationsimilarcopies|clean_si }}</div>
    </div>
    {% endif %}
    {% endif %}

    {% endautoescape %}
</div>
