{% extends "base.html" %}

{% block custom_stylesheets %}
{{block.super}}
    <link rel="stylesheet" href="{{ STATIC_URL }}custom_css/OpenLayers/theme/default/style.css"
          type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}custom_css/bareditor.css" type="text/css">
{% endblock custom_stylesheets %}

{% block header_scripts %}
    <script src="{{ STATIC_URL }}javascripts/slick.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/pageview.js"></script>
    <script type="text/javascript">
        //http://ocve2.cch.kcl.ac.uk/iip/iipsrv.fcgi?FIF=jp2/ocvejp2-proc/38/79/04/Image04.jp2&OBJ=Max-size
    </script>
    {% if mode == "OCVE" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}custom_css/colorbox.css"/>
        <script src="{{ STATIC_URL }}javascripts/jquery.colorbox-min.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/OpenLayers.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/BaseTypes/Class.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/Util.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/Events.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/Tween.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/Console.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/Lang.js"></script>
        <script src="{{ STATIC_URL }}vendor/OpenLayers/lib/OpenLayers/Layer/Grid.js"></script>

        <script type="text/javascript">
            var zoomify_width = {{pageimage.width}};   // 3368;
            var zoomify_height = {{pageimage.height}};  //4210;

            {% autoescape off %}
                pageID ={{ pageimage.id }} //77557 ;
                var zoomify_url = "http://{{ zoomifyURL }}"
                //Ajax URL to get bar regions, switches between grouped and ungrouped geometries
                var regionURL = "{{regionURL}}"
            {% endautoescape %}
            startX = 0;
            startY = 0;
            endX = 0;
            endY = 0;
            workid ={{ work.id }};

            var map, zoomify;
            $(document).ready(function () {
                /*Openlayers Window*/
                //Set div width/height as proprortion of available screen

                var docWidth = parseInt($('body').width());
                var docHeight = parseInt($(window).height());
                var fullWidth = docWidth - Math.round(docWidth * .40);
                var fullHeight = docHeight - Math.round(docHeight * .30);
                $("#map").css('width', fullWidth + "px").css("height", fullHeight + "px")

                /* First we initialize the zoomify pyramid (to get number of tiers) */
                var zoomify = new OpenLayers.Layer.Zoomify("Zoomify", zoomify_url,
                        new OpenLayers.Size(zoomify_width, zoomify_height));

                /* Map with raster coordinates (pixels) from Zoomify image */
                var options = {
                    controls: [],
                    maxExtent: new OpenLayers.Bounds(0, 0, zoomify_width, zoomify_height),
                    maxResolution: Math.pow(2, zoomify.numberOfTiers - 1),
                    numZoomLevels: zoomify.numberOfTiers,
                    units: 'pixels'
                };
                OpenLayers.ImgPath = '/static/assets/s/OpenLayers/img/';
                map = new OpenLayers.Map("map", options);
                //vlayer = new OpenLayers.Layer.Vector("Editable")
                fTest = null;
                function onPopupClose(evt) {
                    //selectControl.unselect(selectedFeature);
                }

                function onFeatureSelect(feature) {

                    window.location = '/ocve/barview?workid=' + workid + '&barid=' + feature.attributes["barid"];
                }

                function onFeatureUnselect(feature) {
                    {% comment %}map.removePopup(feature.popup);
                    feature.popup.destroy();
                    feature.popup = null;{% endcomment %}
                }

                function showBar(feature) {

                }

                function hideBar(feature) {

                }

                var myStyles = new OpenLayers.StyleMap({
                    "default": new OpenLayers.Style({
                        strokeOpacity: 1,
                        strokeWidth: 1,
                        fillColor: "${fillColor}",
                        fillOpacity: 0.3,
                        pointRadius: 6,
                        pointerEvents: "visiblePainted",
                        // label with \n linebreaks
                        label: "${label}",
                        fontColor: "black",
                        fontSize: "10px",
                        fontFamily: "Courier New, monospace",
                        fontWeight: "bold",
                        labelAlign: "cm",
                        labelOutlineColor: "white",
                        labelOutlineWidth: 3


                    }),
                    "select": new OpenLayers.Style({
                        strokeOpacity: 1,
                        strokeWidth: 1,
                        fillColor: "${fillColor}",
                        fillOpacity: 0.3,
                        pointRadius: 6,
                        pointerEvents: "visiblePainted",
                        // label with \n linebreaks
                        label: "${label}",
                        fontColor: "black",
                        fontSize: "10px",
                        fontFamily: "Courier New, monospace",
                        fontWeight: "bold",
                        labelAlign: "cm",
                        labelOutlineColor: "white",
                        labelOutlineWidth: 3
                    }),
                    "temporary": new OpenLayers.Style({
                        strokeOpacity: 1,
                        strokeWidth: 1,
                        fillColor: "${fillColor}",
                        fillOpacity: 0.3,
                        pointRadius: 6,
                        pointerEvents: "visiblePainted",
                        // label with \n linebreaks
                        label: "${label}",
                        fontColor: "black",
                        fontSize: "10px",
                        fontFamily: "Courier New, monospace",
                        fontWeight: "bold",
                        labelAlign: "cm",
                        labelOutlineColor: "white",
                        labelOutlineWidth: 3
                    })
                });

                vlayer = new OpenLayers.Layer.Vector("Editable", {
                    strategies: [new OpenLayers.Strategy.Fixed()],
                    styleMap: myStyles,
                    protocol: new OpenLayers.Protocol.HTTP({
                        url: regionURL,
                        format: new OpenLayers.Format.GeoJSON()
                    })
                });
                var highlightCtrl = new OpenLayers.Control.SelectFeature(vlayer, {
                    hover: true,
                    highlightOnly: true,
                    renderIntent: "temporary",
                    eventListeners: {

                        featurehighlighted: showBar,
                        featureunhighlighted: hideBar
                    }

                });
                selectControl = new OpenLayers.Control.SelectFeature(vlayer,
                        {onSelect: onFeatureSelect, onUnselect: onFeatureUnselect});

                map.addLayers([zoomify, vlayer]);

                var mouse = new OpenLayers.Control.Navigation({'zoomWheelEnabled': false});

                map.addControl(new OpenLayers.Control.MousePosition());
                map.addControl(new OpenLayers.Control.PanZoomBar());
                map.addControl(selectControl);
                map.addControl(highlightCtrl);
                map.addControl(mouse);
                map.zoomToMaxExtent();
                highlightCtrl.activate();
                selectControl.activate();

            })
            ;
        </script>

    {% else %}
        <script type="application/javascript">
            $(document).ready(function () {
                //Set div width/height as proprortion of available screen
                var zoomify_width = {{pageimage.width}};   // 3368;
                var zoomify_height = {{pageimage.height}};  //4210;
                var docWidth = parseInt($('body').width());
                var docHeight = parseInt($(window).height());
                var fullWidth = docWidth - Math.round(docWidth * .40);
                var fullHeight = docHeight - Math.round(docHeight * .30);
                $("#image_one").css('width', fullWidth + "px").css("height", fullHeight + "px")
                imgToOSD();
            });
        </script>

        <script src="{{ STATIC_URL }}vendor/openseadragon/openseadragon.js"></script>
        <script src="{{ STATIC_URL }}javascripts/osd-iip-connector.js"></script>
    {% endif %}
{% endblock header_scripts %}

{% block content %}
    <section class="main content-section page-view">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-9 columns">
                        <h1>Opus {{ opus }}
                        <span class="contextual-info"><a href="/ocve/ui/workinformation/{{ work.id }}/" class="ctrl more"
                                                         data-tooltip
                                                         title="Work overview"><span
                                class="fa fa-book"></span></a></span>
                        </h1>
                    </div>
                </div>

                <h2>{{ source }}
                <span class="contextual-info"><a href="#" class="ctrl more" data-tooltip title="Witness overview"><span
                        class="fa fa-info-circle"></span></a></span>
                </h2>
                <b class="divider"></b>

                <div class="row">
                    <div class="large-6 columns">
                        <h3>Page {{ page.label }} {% if pageimage.startbar != '0' or pageimage.endbar != '0' %}bs
                            {{ pageimage.startbar }}-{{ pageimage.endbar }}{% endif %}</h3>

                        <div class="image-viewer">
                            <div class="page-image">

                                {% if mode == "OCVE" %}
                                    <div id="map"></div>
                                {% else %}
                                    <img src="{{ IIP_URL }}?FIF={{ pageimage.getJP2Path }}&CVT=JPG" height="800"
                                         width="600" id="image_one"
                                         class="osd-iip">
                                {% endif %}

                                <div class="comment">
                                    <a id="sample-comment" href="#" class="ctrl show-page-comment"><span
                                            class="fa fa-comment"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-6 columns">
                        <div class="page-comments">
                            <div id="comment-1" class="annotation-box fade-out">
                                <p class="annotation-details">Comment on Ballade Op.23, p.1, b1.</p>

                                <p class="annotation-posted">By user1, 10 March 2013</p>

                                <div class="annotation">
                                    <p>Here is an annotation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}