<div class="row">
    {% if BASE_URL == 'aco' %}
    <div class="large-12 columns">
        <h1>
            <a href="/{{ BASE_URL }}">AC Online</a>
        </h1>
        <h2>
            <a href="/{{ BASE_URL }}">{{ PROJECT_TITLE }}</a>
        </h2>
    </div>
    {% else %}
    <div class="{% if BASE_URL == 'ocve' %}large-10{% else %}large-12{% endif %} columns">
        <h1>
            <a href="/{{ BASE_URL }}">{{ BASE_URL|upper }}</a>
        </h1>
        <h2>
            <a href="/{{ BASE_URL }}">{{ PROJECT_TITLE }}</a>
        </h2>
    </div>
    {% endif %}
    {% if BASE_URL == 'ocve' %}
    <div class="large-2 columns">
        {% if request.user.is_authenticated %}
        <div class="user-box">
            <ul>
                <li>
                    <a href="/ocve/accounts/profile"><i class="fa fa-user"></i>
                        {% if request.user.first_name %}
                        {{ request.user.first_name }}
                        {% else %}
                        {{ request.user }}
                        {%endif%}
                    </a>
                    <span class="label radius secondary">
                        <a href="/ocve/accounts/logout">Logout</a>
                    </span>
                </li>

                {% if request.user.is_staff %}
                <li>
                    <span class="label radius secondary">
                        <a href="/admin">Admin</a>
                    </span>
                </li>
                {% endif %}
            </ul>
        </div>
        {% else %} 
        <div class="user-box">
            <ul>
                <li>
                    <a href="/ocve/accounts/login/"><i class="fa fa-user"></i>
                       Login</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
