{% load catalogue_tags wagtailcore_tags %}

<nav class="local">
    <ul class="side-nav">
        <li>The Catalogue</li>
        <li>
        <a href="{% pageurl page %}">All works</a>
        </li>
        <li>
        <a href="{% catalogueurl  page 'works-with-opus' %}">Works with opus numbers</a>
        </li>
        <li>
        <a href="{% catalogueurl page 'posthumous-works-with-opus' %}">Posthumous works with opus numbers</a>
        </li>
        <li>
        <a href="{% catalogueurl page 'works-without-opus' %}">Works without opus numbers</a>
        </li>
        <li>
        <a href="{% catalogueurl page 'posthumous-works-without-opus' %}">Posthumous works without opus numbers</a>
        </li>
    </ul>
</nav>
