{% extends "frontend/uimaster.html" %}
{% block title %}Opus {{ opus }}, Bar {{ bar }} (prototype)</title>{% endblock %}
{% block javascript %}

    <!-- Note RE Jquery. I have added another version of jquery UI since
         I did not want to interfere with versions currently in use. We can
         tidy this later - BM -->
    {% comment %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/s/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/s/jquery.ui.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/s/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/s/jquery.ui.position.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/s/jquery.ui.draggable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/s/jquery.ui.droppable.js"></script>
   

    {% endcomment %}
{% endblock %}

{% block stylesheet %}

    {{ block.super }}

    <!-- TODO: BM - this should be SCSS and shouldn't be here -->
    <style>

        .add-image-to-collection-modal h3 {
            font-weight: bold;
            font-size: 1.5em;
        }

        .add-image-to-collection-modal h4 {
            font-size: 1.2em;
        }

        .add-image-to-collection-modal input[type="text"] {
            display: inline-block;
            width: 75%;
        }

        .add-image-to-collection-modal input[type="submit"] {
            border: 1px solid #550000;
            background: #7d0000;
            color: #fff;
            display: inline-block;
            font-size: 1em;
            margin: 0 0 0 5%;
            padding: 5px 0;
            width: 20%;
        }

        .add-image-to-collection-modal input[type="submit"]:hover {
            background: #6d0000;
            cursor: pointer;
        }

        .add-image-to-collection-modal .alert-box {
            display: none;
        }

        .add-to-collection-select:hover {
            cursor: pointer;
        }

        .add-to-collection-btn {
            border: 1px solid #550000;
            background: #7d0000;
            color: #fff;
            display: block;
            height: 40px;
            font-size: 1.2em;
            line-height: 40px;
            text-align: center;
            margin: 0 auto;
            width: 100px;
        }

        .bar-chooser-list {
            height: 200px;
            overflow: scroll;
            margin: 10px 0 0 0;
            padding: 0;
            list-style: none;
        }

        .bar-chooser-list li {
            margin: 0;
            padding: 0;
        }

        .bar-chooser-list a {
            display: block;
            padding: 0 5px;
        }

        .bar-chooser-list a:hover {
            background: #e8e8e8;
        }

        .barList {
            min-height: 600px;
        }

        .barList > li {
            cursor: pointer;
            margin: 10px;
            position: relative;
        }

        .barList li .image {
            display: inline-block;
            background-image: none !important;
            margin: 30px auto 0 auto;
        }

        .barList li .image img {
            height: 200px;
        }

        .barList li .caption {
            background: #fff;
            height: 30px;
            overflow: hidden;
            position: absolute;
            line-height: 30px;
            z-index: 1;
        }

        .barList li .caption span {
            background: #fff;
            background: rgba(255, 255, 255, 0.75);
            display: block;
            font-size: 70%;
        }

        .barList li .caption:hover {
            overflow: visible;
            width: auto;
        }

        .barList li .close {
            display: none;
        }

        .barList li:hover .close {
            display: block;
        }

        .closeSource {
            z-index: 10;
        }

        .collection-section {
            height: 200px;
        }

        .inner-wrap {

            height: 100%;
        }

        .large-image-modal {
            text-align: center;
        }

        .large-image-modal img {
            display: inline-block !important; /** Foundation causes issues here */
        }

        .list-search {
            border: none;
            display: block;
            padding: 5px;
            width: 100%;
        }


    </style>
{% endblock %}



{% block content %}

    <section class="main content-section">
        <div class="row">

            <div class="large-12 columns">

                <!-- off-canvas navigation for left hand tree / faceted browse -->
                <div class="off-canvas-wrap" data-offcanvas="">
                    <div class="inner-wrap">

                        <!-- contextual menu bar -->
                        <nav class="tab-bar">

                            <section class=" tab-bar-section">
                                <ul class="left inline-list contextual-menu">
                                    <li>
                                        <div class="menu-item opus-title">Opus {{ opus }}, Bar {{ bar }}</div>
                                    </li>
                                    <!-- TODO: Bar Ids? -->
                                    {% if prev %}
                                        <li>
                                            <div class="menu-item"><a
                                                    href="?workid={{ work.id }}&barid={{ prev.bar.id }}#"
                                                    class="ctrl prev"><span class="fa fa-caret-left"></span></a></div>
                                        </li>
                                    {% endif %}
                                    {% if next %}
                                        <li>
                                            <div class="menu-item"><a
                                                    href="?workid={{ work.id }}&barid={{ next.bar.id }}#"
                                                    class="ctrl next"><span class="fa fa-caret-right"></span></a></div>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <div class="menu-item">
                                            <a href="#" data-dropdown="available-sources">Select Sources</a>
                                            <ul id="available-sources" class="f-dropdown" data-dropdown-content="">
                                                <li>
                                                    <div class="dropdown-select toggle-all"><input type="checkbox"
                                                                                                   checked="checked"
                                                                                                   value="all"> Select
                                                        all
                                                    </div>
                                                </li>

                                                {% for s in sources %}
                                                    <li>
                                                        <div class="dropdown-select toggle "><input type="checkbox"
                                                                                                    class="sourceFilter"
                                                                                                    checked="checked"
                                                                                                    value="{{ s.id }}"> {{ s.getAcCode }}</input>
                                                        </div>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="menu-item"><a href="#" class="bar-view-reset-btn">Reset
                                            Bars</span></a></div>
                                    </li>

                                </ul>


                            </section>

                        </nav>
                        <!-- end tab-bar -->
                        <!-- main content -->
                        <div class="bar-images">
                            <ul class="images barList inline-list">
                                {% for r in barregions %}
                                    <li id="region{{ r.br.id }}" class="source{{ r.getSource.id }}">
                                        <div class="caption">
                                            <span>{{ r.getSource.getAcCode }} p. {{ r.pi.page.label }}</span></div>
                                        <div class="image">

                                            <img src="{{ IIP_URL }}?FIF={{ r.getLargeURL }}"
                                                 alt="{{ r.getSource.getAcCode }} page {{ r.pi.page.label }}">

                                            <div class="close"><a href="#" class="ctrl close closeSource"
                                                                  data-source-id="{{ r.getSource.id }}"><span
                                                    class="fa fa-times-circle"></span></a></div>
                                        </div>
                                        <div class="controls">
                                            <ul class="inline-list">
                                                <li><a href="#" data-reveal-id="large-image"
                                                       data-img="{{ IIP_URL }}?FIF={{ r.getLargeURL }}"
                                                       class="ctrl enlarge large-image-button"><span
                                                        class="fa fa-search-plus"></span></a></li>
                                                <li><a href="/ocve/ui/pageview/{{ r.pi.id }}?brid={{ r.br.id }}"
                                                       class="ctrl view-in-context"><span
                                                        class="fa fa-file-text"></span></a></li>
                                                {% if request.user.is_authenticated %}
                                                    <li><a href="#"
                                                           data-thumbnail="{{ IIP_URL }}?FIF={{ r.getLargeURL }}"
                                                           data-region-id="{{ r.br.id }}" class="ctrl add add-btn"><span
                                                            class="fa fa-plus-circle"></span></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- end bar-images -->

                        <!-- end main content  -->

                        <!-- close off-canvas menu -->
                        <a class="exit-off-canvas"></a>
                    </div>
                    <!-- end inner-wrap -->

                </div>
                <!-- end off-canvas-wrap -->
            </div>
            <!-- end cols -->
        </div>
        <!-- end row -->
    </section>






    <!-- enlarge image -->
    <div id="large-image" class="reveal-modal large-image-modal" data-reveal="">
        <img src="" id="large-image-img">
        <a class="close-reveal-modal"><span class="fa fa-times"></a>
    </div>


    <!-- enlarge image -->
    <div id="add-image-to-collection-modal" class="reveal-modal add-image-to-collection-modal small" data-reveal="">

    </div>



    <!-- TODO: Use or delete? -->
    <!-- view in page -->
    <div id="view-in-page-1" class="reveal-modal large-image" data-reveal="">
        <img src="/static/assets/images/ocve-full-page.png" id="v">
        <a class="close-reveal-modal"><span class="fa fa-times"></span></a>
    </div>

    <!-- collection area -->
    <!-- feedback message -->
    <div class="feedback-message image-added">
        <div class="row">
            <div class="large-12 columns">
                <div class="feedback-success">
                    <p>[Image details] added to your collection <span class="icon-ok"></span></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}



{% block endjs %}
    <!-- Foundation javascripts -->
    <script src="/static/assets/bower_components/foundation/js/foundation.min.js" type="text/javascript"
            charset="utf-8"></script>

    <script type="text/javascript" src="/static/assets/js/app.js"></script>
{% endblock %}