{% load compress staticfiles wagtailuserbar %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% compress css %}
    {# SCSS compilation relies on django compressor #}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main-'|add:BASE_URL|add:'.scss' %}" />
    {% endcompress %}

    {% block custom_stylesheets %}

    {% endblock custom_stylesheets %}

    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="//use.typekit.net/caf1nkf.js"></script>
    <script type="text/javascript">try {
        Typekit.load();
    } catch (e) {}
    </script>

    {% compress js %}
    {% block header_scripts %}{% endblock header_scripts %}
    {% endcompress %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>
</head>

<body class="{% block body_class %}{{ BASE_URL }}-page{% endblock %}">

    <header class="header header-{{ BASE_URL }}">
    {% block header %}
    {% include 'includes/header.html' %}
    {% endblock %}
    </header>

    {% include 'includes/navigation.html' %}

    {% if BASE_URL == 'aco' %}
    <section class="main content-section">
        <div class="row">
            <div class="large-12 columns">
    {% endif %}
    
    {% block breadcrumbs %}
    {% if BASE_URL == 'aco' %}
    {% include 'includes/breadcrumbs.html' %}
    {% endif %}
    {% endblock %}

    {% block content %}
    <div class="row">
        <div class="large-2 columns navigation">
            {% block local_menu %}
            {% include 'includes/local_menu.html' %}
            {% endblock %}
        </div>

        <div class="large-10 columns">
            {% block overtitle %}
            <h1>{% block title %}{% endblock %}</h1>
            {% endblock %}
            {% block main %}{% endblock %}
        </div>
    </div>
    {% endblock %}

    {% if BASE_URL == 'aco' %}
            </div>
        </div>
    </section>
    {% endif %}

    <footer class="footer">
        {% block footer %}
        {% include 'includes/footer.html' %}
        {% endblock %}
    </footer>

    {% block collections %}
    <div class="collections-inline">
        <a href="#" class="close-collections-inline"><span class="fa fa-angle-double-down"></span></a>
        <div class="inner"></div>
    </div>
    {% endblock %}

    {% block footer_scripts %}
    <script src="{% static 'vendor/foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'javascripts/app.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(document).foundation();
    });
    </script>
    {% endblock %}

    {# wagtailuserbar #}
</body>
</html>