{% extends "catalogue/base.html" %}
{% load catalogue_tags wagtailcore_tags %}

{% block meta_title %}{{ self.title|add_special_characters }}{% endblock %}

{% block local_menu %}
{% include "catalogue/includes/library_index_page_local_menu.html" with page=self.get_parent %}
{% endblock %}

{% block overtitle %}
<h1>{{ self.title }}: {{ self.city.country }}, {{ self.city }}, {{ self.name }}</h1>
{% endblock %}

{% block main %}

{% if self.library_url %}
<p>
    <span class="fa fa-chain"></span> <a href="{{ self.library_url }}">{{ self.library_url }}</a>
</p>
{% endif %}

{% if self.impressions %}
<h2>Impressions</h2>
<ul class="impressions search-results">
    {% for work, impressions in self.impressions.iteritems %}
    <li>
        <h4>
            <a href="{% pageurl work %}">{{ work }}</a>
        </h4>
        <p>
            {% for impression in impressions %}
            <a href="{% pageurl impression %}">{{ impression.title|add_special_characters}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
